<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>
  <appSettings>
    <add key="apiurl" value="https://api-public.sandbox.gdax.com"/>
    <add key="passphrase" value="{put yours in}"/>
    <add key="key" value="{put yours in}"/>
    <add key="apisecret" value="{put yours in}"/>
    
  </appSettings>
</configuration>